<%= turbo_frame_tag food do %>
  <%= form_with(model: food, class: "contents") do |form| %>
    <div class="card-body">
      <div class="my-0.1">
        <%= form.label :name %>
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-0.1">
        <%= form.label :kind_id %>
        <%= form.select :kind_id, Kind.pluck(:name,:id) ,class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-0.1">
        <%= form.label :price %>
        <%= form.number_field :price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-0.1">
        <%= form.label :memo %>
        <%= form.text_area :memo, rows: 1, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="justify-end card-actions">
        <%= form.submit class:  "btn btn-outline-secondary" %>
        <%= link_to "キャンセル", food, class: "btn btn-outline btn-secondary" %>
      </div>
    </div>
  <% end %>
<% end %>